<p><h4>Contact Us</h4>
<font size="2">Mark Herzik, Ph.D. <font><br>
<font size="2">Assistant Professor <font><br>
<font size="2">Department of Chemistry and Biochemistry <font><br>
<font size="2">University of California, San Diego <font><br>
<br>
<font size="2">email: mherzik (#!) ucsd dot edu <font><br>
<font size="2">tel: 858 246 587 five <font><br>
<font size="2">Natural Sciences Building #4105 (Office), #4106A (Lab) <font><br>
<font size="2">University of California, San Diego <font><br>
<font size="2">9500 Gilman Drive <font><br>
<font size="2">La Jolla, CA 92093 <font><br>
</p>

<p>
 <h4> Interested in joining the Herzik lab? </h4>
<font size="2">We don’t generally post for specific positions, <a href="{{ site.url }}/join">so please reach out!</a> We welcome applicants from all backgrounds. <font><br>
</p>
