<p><h3>Contact Us</h3>
Mark Herzik, Ph.D. <br>
Assistant Professor <br>
Department of Chemistry and Biochemistry <br>
University of California, San Diego <br>
<br>
email: mherzik (#!) ucsd dot edu <br>
tel: 858 246 587 five <br>
Natural Sciences Building #4105 (Office), #4106A (Lab) <br>
University of California, San Diego <br>
9500 Gilman Drive <br>
La Jolla, CA 92093 <br>
</p>

<p>
 <h3> Interested in joining the Herzik lab? </h3>
 We don’t generally post for specific positions, <a href="{{ site.url }}/join">so please reach out!</a> We welcome applicants from all backgrounds.<br>
</p>
