---
---
@import "main";
// All custom CSS should be written below

html {
 min-height: 100vh; /* will cover the 100% of viewport */
 //overflow: hidden;
 display: block;
 position: relative;
 //padding-bottom: 100px; /* height of your footer */
}

 body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f2f2;
  min-height: 100vh;
  position: relative;
}



.page-title {
  padding-top: 1em;
  padding-bottom: .5em;
}


h1 {
  font-weight: 700;
  font-size: 42px;
  -webkit-font-kerning: .5em;
          font-kerning: .5em;
  padding-bottom: 1em;
}

p {
  font-size: 1em;
}

a {
  -webkit-text-decoration: underline #ffcd00;
          text-decoration: underline #ffcd00;
  //border-bottom: 1px solid #ffcd00;
  //box-shadow: 0px -4px 0px #ffcd00 inset;
  color: #000;
}

a:hover {
  background-color: #ffcd00;
  color: #000;
  text-decoration: none;
  //-webkit-transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
  //transition:         all 600ms cubic-bezier(0.23, 1, 0.32, 1);
}

//------------------- Navigation ------------------- /

.navbar {
  padding-top: 1em;
}

.nav-item a{
  font-size: .9em;
  text-decoration: none;
  color: black;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: 400;
}


.current {
  color: #000;
  background-color: #ffcd00;
}


.content-centered {
  text-align: center;
}
//------------------ Home Page -------------------//

.jumbotron {
//  padding-left: 10em;
  background-color: #f2f2f2;
}

//------------------ Members --------------------//

.member-profile {
  font-size: .9em;
  overflow: visible; 
}

.img-responsive {
  width: 100%;
  height: auto;
  padding-bottom: 1em;

}

//------------------ Publications --------------------//

.publication {
  font-size: 1em;
}

.citation-spacing{
  padding-bottom: 1em;
}

//------------------- Footer ---------------------//

footer {
  background-color: #f2f2f2;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 1em;
  margin-top: 3em;
  height: 1em;
}


.footer-text {
  font-size: .8em;
  color: #000;
  margin-top: 1em;
}



